{% extends 'snippet_base.html' %}
{% load django_markdown %}

{% block snippet_entries %}
    <div class="post">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- DjangoSnippets-1 -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-8276817011304511"
                 data-ad-slot="2922707988"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        <h2>{{ object.snippet_title }}</a></h2>
        <p class="meta">Date Added: {{ object.create_date }}</p>
        <p class="small">Author: {{ object.author }}</p>
        <p>{{ object.snippet_body|markdown }}</p>
        <p>&nbsp;</p>
        <p class="small">Tags: {{ object.snippet_tags.all|join:', ' }}</p>
    </div>
    <div style="margin-top:15px;">
      <a href="../" class="btn btn-md btn-primary"><i class="fa fa-arrow-circle-left"></i> Return to List</a>
    </div>
{% endblock %}
